<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moritz Media</title>

    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <header>
        <div class="logo-left">
            <div class="logo-img">
                <img src="assets/img/MoritzMediaLogo.svg" alt="Moritz Media">
            </div>
        </div>
        <div class="logo-right">
            <div class="logo-h1">
                <h1>Coming Soon</h1>
            </div>
        </div>

    </header>



    <footer>
        <p>&copy; Moritz Media 2018</p>
    </footer>


</body>

</html>